<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyArdRhDrqpVR2bOqY-Ut-LmL1oPevAVDhw</string>
	<key>GCM_SENDER_ID</key>
	<string>1078983616450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.translinkApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>translink-app-43f28</string>
	<key>STORAGE_BUCKET</key>
	<string>translink-app-43f28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078983616450:ios:2e18f14f676a7b3ccad85b</string>
</dict>
</plist>